@value fadetime: 0.65s;

.wrapper {
  width: 100%;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) calc(calc(100% - 1138px) / 16),
    rgba(0, 0, 0, 1) calc(calc(100% - 1138px) / 2),
    rgba(0, 0, 0, 1) calc(1138px + calc(100% - 1138px) / 2),
    rgba(0, 0, 0, 0.2) calc(1138px + calc(100% - 1138px) / 16 * 15)
  );

  & > div {
    margin: auto;
    width: 1138px;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.carousel {
  width: 100%;
  position: relative;

  & > div {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  & > span {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & > * {
      padding: 8px;
    }
  }
}

.btn {
  height: 100%;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

.dots {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 8px;
  border: 2px solid white;
  border-radius: 50%;
  transition: ease-in-out fadetime;
  cursor: pointer;

  &.selected {
    background: white;
  }
}
