@value fadetime: 0.65s;

.wrapper {
  width: 100%;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgb(0 0 0 / 20%) calc(calc(100% - 1138px) / 16),
    rgb(0 0 0 / 100%) calc(calc(100% - 1138px) / 2),
    rgb(0 0 0 / 100%) calc(1138px + calc(100% - 1138px) / 2),
    rgb(0 0 0 / 20%) calc(1138px + calc(100% - 1138px) / 16 * 15)
  );
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  & > div {
    position: relative;
    display: flex;
    height: 100%;
    margin-right: 100%;
  }

  & > span {
    display: contents;

    & > * {
      position: absolute;
      padding: 8px;
    }
  }
}

.btn {
  width: 6rem;
  height: 100%;
  cursor: pointer;

  &:first-of-type {
    left: 0;
  }

  &:last-of-type {
    right: 0;
  }
}

.dots {
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 7px;
  height: 7px;
  margin: 8px;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  transition: ease-in-out fadetime;

  &.selected {
    background-color: white;
  }
}
