@value fadetime: 0.65s;

.wrapper {
  width: 100%;
  overflow: hidden;

  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) calc(calc(100% - 1138px) / 16),
    rgba(0, 0, 0, 1) calc(calc(100% - 1138px) / 2),
    rgba(0, 0, 0, 1) calc(1138px + calc(100% - 1138px) / 2),
    rgba(0, 0, 0, 0.2) calc(1138px + calc(100% - 1138px) / 16 * 15)
  );
}

.carousel {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    position: relative;
    display: flex;
    height: 100%;
    margin-right: 100%;
  }

  & > span {
    display: contents;

    & > * {
      position: absolute;
      padding: 8px;
    }
  }
}

.btn {
  height: 100%;
  width: 6rem;
  cursor: pointer;

  &:first-of-type {
    left: 0;
  }

  &:last-of-type {
    right: 0;
  }
}

.dots {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}

.dot {
  height: 7px;
  width: 7px;
  margin: 8px;
  border: 2px solid white;
  border-radius: 50%;
  transition: ease-in-out fadetime;
  cursor: pointer;

  &.selected {
    background: white;
  }
}
